body {
  box-sizing: border-box;
  background: #2c3e50;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

/* APP */
.app {
  padding: 10px;
  height: 100vh;
}
